.zodiac-image {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000;
}

.zodiacs-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.zodiac-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}
